.env
*.log
.phpunit.result.cache
/vendor/
api/vendor/
api/.phpunit.cache

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
